.idea/
terraform.*
crash.log
.terraform/
terraform-provider-vmc
.DS_Store
terraform.tfplan
terraform.tfstate
*.backup
*.bak
*~
/*.tf
.terraform.tfstate.lock.infochanging_this_one_line_to_create_bc_branch_with_batch_changes
